$font-tittle: sans-serif;
$primary-color: #5F15AD;
$secundary-color: #F7990F;
$tertiary-color: #1DAD4B;

@mixin perfect-center {
    display: flex;
    align-items:center ;
    justify-content: center;
}

@mixin flex-column-center {
    display: flex;
    align-items:center ;
    justify-content: center;
    flex-direction: column;
}
@mixin flex-column-row {
    display: flex;
    align-items:center ;
    justify-content: center;
    flex-direction: row;
}

@mixin flex-row-spaceBetween {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

@mixin input {
    width: 90%;
    max-width: 260px;
    // min-height: 20px;
    // max-height: 40px;
    border: $primary-color solid 1px;
    background: #FFFFFF;
    padding: 10px 7px;
    border-radius: 10px;
    font-size: 14px;
}

@mixin button {
    // width: 90%;
    // max-width: 260px;
    min-height: 20px;
    max-height: 40px;
    margin-top: 10px;
    border: $primary-color solid 1px;
    background: $primary-color;
    border-radius: 10px;
    padding: 0 40px;
    color: #FFFFFF;
    cursor: pointer;
}
@mixin textGreen {
    font-size: 11px;
    color: $tertiary-color;
}

