@import './generics.scss';

.postContainer{
    width: 100%;
    max-width: 400px;
    @include flex-column-center;
    padding: 20px 0;
    gap: 20px;
    border-radius: 10px;
    box-shadow: rgb(217, 217, 217) 0px 3px 12px;

    &_headerPost{
        width: 100%;
        @include flex-column-row;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 5px 10px;
    }
    &_editBox{
        padding: 10px;
        @include flex-column-row;
        gap: 20px;
    }
    &_editIcon{
        width: 20px;
    }
    &_userBox{
        @include flex-column-row;
        gap:5px;
    }
    &_user{
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }
    &_userName{
        font-size: 14px;
        color: $primary-color;
        font-weight: 600;
        font-style: italic;
    }

    &_description{
        width: 90%;
        text-align: start;
    }
    
    

    &_icon{
        width: 20px;
        height: 20px;
    }
    &_postImage{
        width: 100%;
        max-width: 400px;
        height: 400px;
        @include perfect-center;
        background: #f7f7f769;
        //max-height: 500px;
        //max-width: 400px;
    }

    &_postImage--img{
        width: 100%;
        height: 100%;
        // object-fit: cover;
        object-fit: contain;
    }

    &_interactionBox{
        width: 100%;
        @include flex-column-row;
        justify-content: space-between;
        padding: 0 10px 0 5px;

        // &--comment{
        //     width: 70%;
        //     @include flex-column-row;
        //     justify-content: flex-start;
        //     gap: 10px;
        // }

        // &--like{
        //     width: 10%;
        //     @include flex-column-row;
        //     justify-content: flex-end;
        // }
    }

    &_interactionBox--comment{
        width: 70%;
        max-width: 300px;
        display: flex;
        align-items: center;
        padding: 10px;
        border-radius: 10px;
        box-shadow: #cecece 0px 1px 4px;
    } 
    

    &_textComment{
        border: none;
        background: none;
    }
    &_iconComment{
        width: 20px;
        max-width: 30px;
        min-height: 20px;
        max-height: 30px;
    }

    &_comments{
        width: 100%;
        @include flex-column-center;
        gap: 10px;
        padding: 0 5px;
    }
}