@import './generics.scss';

.registerPage{
    width: 100%;
    height: 100vh;
    @include flex-column-center;
    gap: 20px;

    &_welcome--box{
        @include flex-column-row;
    }

    &_welcome{
        color: $primary-color;
    }

    &_logo{
        width: 20%;
    }
    
    &_formRegister {
        width: 80%;
        // margin-top: 20px;
        @include flex-column-center;
        gap: 20px;
    }
    
    &_formRegister input {
        @include input
    }
    
    &_formRegister input::placeholder{
        color: $primary-color;
        font-size: 11px;
    }
    
    &_formRegister button {
        @include button
    }

    &_show{
        @include textGreen;
        font-weight: 700;
        text-align: end;
        border-bottom: 1px solid $tertiary-color;
    }

    &_singInGoogle {
        @include flex-column-row;
        // gap: 10px;
    }

    &_singInGoogle--logo{
        width: 10%;
    }

    &_singInGoogle--text{
        @include textGreen;
    }

    &_singIn{
        @include flex-column-row;
    }

    &_singIn--click{
        @include textGreen;
    }
    &_singIn--text{
        font-size: 12px;
        font-weight: 700;
    }
}