@import './generics.scss';

.registerPage{
    width: 100%;
    max-width: 600px;
    height: 100vh;
    position: relative;
    @include flex-column-center;

    &_home{
        width: 8%;
        max-width: 35px;
        position: absolute;
        top: 10px;
        left: 20px;
    }

    &_welcome--box{
        @include flex-column-row;
        padding-bottom: 20px;
        gap: 5px;
    }

    &_welcome{
        color: $primary-color;
    }

    &_logo{
        width: 20%;
        max-width: 50px;
    }
    
    &_formRegister {
        width: 80%;
        padding-bottom: 35px;
        gap: 10px;
        @include flex-column-center;
    }
    
    &_formRegister input {
        @include input
    }
    
    &_formRegister input::placeholder{
        color: $primary-color;
        font-size: 11px;
        font-style: italic;
        text-align: start;
    }
    
    &_formRegister button {
        @include button;
        font-size: 11px;
    }

    &_show{
        @include textGreen;
        font-weight: 700;
        text-align: end;
        border-bottom: 1px solid $tertiary-color;
    }

    &_singInGoogle {
        padding-bottom: 5px;
        gap:5px;
        @include flex-column-row;
    }

    &_singInGoogle--logo{
        width: 15%;
        max-width: 35px;
    }

    &_singInGoogle--text{
        @include textGreen;
    }

    &_singIn{
        @include flex-column-row;
    }

    &_singIn--click{
        @include textGreen;
    }
    &_singIn--text{
        font-size: 11px;
        font-weight: 700;
    }
}

@media (min-width: 750px) {
    .registerPage{
        &_welcome--box{
            padding-bottom: 25px;
        }
        
        &_welcome{
            font-size: 36px;
        }

        &_msg{
            font-size: 16px;
        }

        &_logo{
            max-width: 65px;
        }

        &_formRegister {
            padding-bottom: 40px;
        }

        &_formRegister input {
            min-height: 30px;
            max-width: 280px;
        }

        &_formRegister input::placeholder{
            font-size: 13px;
        }

        &_formRegister button {
            min-height: 30px;
            max-width: 280px;
            font-size: 14px;
        }
    }
}

@media (min-width: 1024px) {
    .registerPage{
        &_welcome--box{
            padding-bottom: 30px;
        }

        &_welcome{
            font-size: 38px;
        }

        &_msg{
            font-size: 18px;
        }

        &_logo{
            max-width: 80px;
        }

        &_formRegister {
            padding-bottom: 45px;
            gap: 15px;
        }

        &_formRegister input {
            min-height: 35px;
            max-width: 300px;
        }

        &_formRegister input::placeholder{
            font-size: 15px;
        }

        &_formRegister button {
            min-height: 35px;
            max-width: 300px;
            font-size: 18px;
        }

        &_singInGoogle--text{
            font-size: 12px;
        }
    
        &_singIn--click{
            font-size: 12px;
        }

        &_singIn--text{
            font-size: 12px;
        }
    }
}
