.editPost {
  width: 100%;
  height: 100vh;
  z-index: 100;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d6d6d6ba; }
  .editPost_container {
    width: 80%;
    min-width: 300px;
    max-width: 500px;
    min-height: 400px;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    border-radius: 10px;
    background-color: #9638fa;
    position: relative; }
  .editPost_img {
    width: 100%;
    display: none; }
  .editPost_previewContainer {
    width: 80%;
    max-width: 250px;
    min-height: 150px;
    max-height: 250px;
    border: 2px solid #757575;
    border-radius: 10px;
    background: #dedede;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px; }
  .editPost_preview {
    width: 80%; }
  .editPost_text {
    min-height: 40px;
    max-height: 60px;
    padding: 5px 10px;
    border: none;
    /* border: 1px solid grey; */
    background: #cba6f2;
    border-radius: 5px;
    box-shadow: inset #311351 0px 1px 4px; }
    .editPost_text:focus {
      outline: none;
      background: #e5d3f9; }
  .editPost_btn {
    padding: 5px 15px;
    border-radius: 8px;
    border: none;
    background: #1DAD4B;
    /* border: 1px solid #2c7543; */
    box-shadow: #153a21 2px 2px 3px -1px, #0a8a33 0px 1px 3px -1px;
    color: #1EFA63;
    cursor: pointer; }
    .editPost_btn:hover {
      background: #1a9942;
      color: #9ef0b7; }
    .editPost_btn:active {
      background: orange;
      color: #9e7108; }
  .editPost_btnClosed {
    width: 30px;
    max-width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
    background: url("../img/close.png") no-repeat center/cover;
    height: 20px;
    border: none;
    cursor: pointer; }
