.landingPage {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #EDE5DB; }
  .landingPage_menuHidden {
    max-height: 0px; }
  .landingPage_header {
    width: 100%;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
    background-color: #fff; }
  .landingPage_header--nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    justify-content: space-between; }
  .landingPage_main {
    width: 90%;
    max-width: 600px;
    margin: 30px 10px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px; }
  .landingPage_footer {
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #fff; }

.header_top {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  position: relative;
  padding: 5px 15px; }

.header_top--openMenu {
  width: 35px;
  max-width: 50px;
  min-height: 35px;
  max-height: 50px;
  cursor: pointer; }

.header_top--logo {
  width: 18%;
  max-width: 70px;
  position: absolute;
  cursor: pointer;
  left: 40%; }

.header_top--singIn {
  border-style: none;
  color: #5F15AD;
  background: none;
  cursor: pointer; }

.nav_menuLogo {
  width: 50%;
  height: 50px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between; }

.navmenuLogo--img {
  height: 50px;
  max-width: 50px; }

.navmenuLogo--abrirMenu {
  width: 25%;
  border: none;
  background-color: #fff;
  flex-direction: row-reverse;
  cursor: pointer;
  opacity: 1;
  pointer-events: all; }

.nav_sing {
  width: 25%;
  font-size: 12px;
  font-weight: 300;
  background-color: #fff;
  color: #5F15AD;
  border: none;
  font-family: sans-serif; }

.menu {
  flex-direction: column;
  position: fixed;
  left: 0%;
  top: 0%;
  width: 100%;
  align-items: center;
  background-color: #000000;
  height: 100%;
  overflow-y: auto;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s; }
  .menu_li {
    padding: 0; }
  .menu_a {
    color: #5F15AD;
    line-height: 60px; }
  .menu_cerrarMenu {
    display: block;
    border: none;
    background: none;
    cursor: pointer;
    align-self: flex-start;
    padding: 20px 15px; }

.menuAbierto {
  opacity: 1;
  pointer-events: all; }

.welcomeBox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px; }
  .welcomeBox_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px; }
  .welcomeBox_tittle {
    width: 70%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5F15AD;
    text-align: center;
    font-size: 28px; }
  .welcomeBox_text {
    text-align: center;
    color: #F7990F; }
  .welcomeBox_button {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: #1DAD4B;
    cursor: pointer; }
  .welcomeBox_img {
    width: 80%;
    max-width: 250px; }

.advantage {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-content: center; }
  .advantage_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px; }
  .advantage_section {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px; }
  .advantage_section--img {
    width: 40px;
    max-width: 60px;
    min-height: 40px;
    max-height: 60px; }
  .advantage_section--h2 {
    font-size: 14px;
    color: #BE7100; }

.about {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px; }
  .about_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px; }
  .about_tittle {
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5F15AD;
    text-align: center;
    font-size: 28px; }
  .about_text {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    max-width: 280px;
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-size: 16px; }
  .about_img {
    width: 80%;
    max-width: 250px; }

.footer_redes {
  width: 100%;
  padding: 0 20px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #5F15AD; }

.footer_logo {
  width: 35px;
  max-width: 50px;
  min-height: 35px; }

.footer_img--logo {
  width: 100%; }

.footer_img {
  width: 25px;
  max-width: 30px;
  min-height: 25px;
  max-height: 30px; }

.footer_autor {
  width: 90%;
  padding: 5px 0;
  text-align: center;
  font-size: 12px;
  color: rgba(94, 21, 173, 0.655); }

@media (min-width: 750px) {
  .landingPage_main {
    max-width: 800px; }
  .welcomeBox_img {
    max-width: 340px; }
  .advantage_section--img {
    max-width: 80px;
    max-height: 80px; }
  .advantage_section--h2 {
    font-size: 16px; }
  .about_text {
    max-width: 380px; }
  .about_img {
    max-width: 340px; }
  .footer_img--logo {
    margin-left: 100%; }
  .footer .autor {
    max-width: 400px; } }

@media (min-width: 1024px) {
  .landingPage_header {
    height: 70px; }
  .landingPage_main {
    max-width: 1000px; }
  .welcomeBox {
    flex-direction: row-reverse; }
    .welcomeBox_tittle {
      font-size: 28px; }
    .welcomeBox_text {
      font-size: 22px; }
    .welcomeBox_img {
      max-width: 480px; }
  .advantage {
    flex-direction: row;
    gap: 40px; }
    .advantage_section--img {
      max-width: 100px;
      max-height: 100px; }
  .about {
    flex-direction: row; }
    .about_img {
      max-width: 480px; }
  .footer {
    position: relative; }
    .footer_redes {
      border-style: none; }
    .footer_autor {
      position: absolute; } }
