.registerPage {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px; }
  .registerPage_welcome--box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row; }
  .registerPage_welcome {
    color: #5F15AD; }
  .registerPage_logo {
    width: 20%; }
  .registerPage_formRegister {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px; }
  .registerPage_formRegister input {
    width: 90%;
    max-width: 260px;
    min-height: 20px;
    max-height: 40px;
    border: #5F15AD solid 1px;
    background: #FFFFFF;
    padding: 5px 15px;
    border-radius: 8px; }
  .registerPage_formRegister input::placeholder {
    color: #5F15AD;
    font-size: 11px; }
  .registerPage_formRegister button {
    width: 90%;
    max-width: 260px;
    min-height: 20px;
    max-height: 40px;
    border: #5F15AD solid 1px;
    background: #5F15AD;
    border-radius: 8px;
    padding: 5px 15px;
    color: #FFFFFF; }
  .registerPage_show {
    font-size: 11px;
    color: #1DAD4B;
    font-weight: 700;
    text-align: end;
    border-bottom: 1px solid #1DAD4B; }
  .registerPage_singInGoogle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row; }
  .registerPage_singInGoogle--logo {
    width: 10%; }
  .registerPage_singInGoogle--text {
    font-size: 11px;
    color: #1DAD4B; }
  .registerPage_singIn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row; }
  .registerPage_singIn--click {
    font-size: 11px;
    color: #1DAD4B; }
  .registerPage_singIn--text {
    font-size: 12px;
    font-weight: 700; }
