@import url("./header.css");
@import url("./loginPage.css");
@import url("./registerPage.css");
@import url("./landingPage.css");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  width: 100%;
  height: 100%;
  background-color: #EDEDED; }

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
